.container{
    width:100%;
    background: blanchedalmond;
}
#main-content{
    background-color: blanchedalmond;

}
.carousel{
    widows: parent;
}
p{
    width: inherit;
}
.dropdown-content {
    max-height: 350px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
 }