<div id="transfer" class="modal">
    <div class="modal-content">
      <div class='center'>
        <h5 class="btn blue btn-large disabled waves-effect waves-light">Transfer Ownership</h5>
      </div>
      <div class="row">
        <form class="col s12" action="/transfer" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input id="ownerId" type="text" name="ownerId">
              <label for="ownerId">Confirm Owner's Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="deviceId" type="text" name="deviceId">
              <label for="deviceId">Confirm Device ID</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="buyerId" type="text" name="buyerId">
              <label for="buyerId">Buyer's Name</label>
            </div>
          </div>
  
          
          <div class="row right-align">
            <div class="input-field col s12">
              <!-- <button type="submit" class="btn btn-primary" name="login_user">Login</button> -->
              <button class=" blue btn waves-effect waves-light" type="submit">Transfer Ownership
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>